### Basic functions

In [ ]:
type('####') # gives the type of the input/variable [int/float/bool]

In [ ]:
int('####') # convert an input/var to integer data type

float('####') # convert an input/var to float/decimal

str('####') # convert an input/var to strings/character

min(a,b,c,.....) # get the minimum value in the sequence/list/tuple

max(a,b,c,.....) # get the maximum value in the sequence/list/tuple

sum(a,b,c,.....) # sum all the value in the sequence/list/tuple

round(a,b) # round/approximate value 'a' to 'b' decimal places

len('####') # gives length/number od element in a string, list, tuple or dictionary

list/tuple(range(start,stop,step)) # give a ranged list/tuple of numbers begining at 'start', ends at 'stop' with interval of 'step'
        # start = first number in the list, NB: if not provided, it is taken as 0
        # stop = last value -1, NB: must be provided
        # step = distance/interval between 2 consecutive values, NB: if not provided, it is taken as 1
        # start, stop, step must always be an integer type

In [ ]:
a % b # gives the remainder of a/b

a ** b # gives the result of a raised to th epower of b (a^b)

pow(a,b) # gives the result of a raised to th epower of b (a^b)

#### Indexing operations 
'####' represents name of string/list/tuple

In [ ]:
'####'[a] # extract the 'a'TH element from the string/list/tuple, NB: 'a' is an integer value 

'####'[-1] # extract last element of string/list/tuple

'####'[a] = b # replace element on string/list/tuple in position 'a' with element/value b, NB: a is the integer position/index

'####'.index(a) # returns the position 'a' is found in the string/list/tuple

#### List and slice operations
'####' represents name of list

In [ ]:
'####'.append(a) # add a single value/element 'a' to the end of a list

del '####'[a] # delete element/value on list in position 'a'

'####'.extend([a,b,....]) # add values/elements 'a,b,.....' to the end of a list

'####'[a:b] # select/slice element from position a to (b-1), NB: 'a' and 'b' are integer values

'####'[:a] # select/slice element from the first position to (a-1), NB: 'a' is an integer value

'####'[:a] # select/slice element from position a to the last position, NB: 'a' is an integer value

'####'.sort(reverse = True) # orders the element of a list alphabetically or numerically, NB: 'reverse=True' sorts from high to low

#### String operations

In [ ]:
'a,d,c,....'.split(',') # split the string where ',' is found and create a list/tuple with the element

#### Dictionary operations
'####', alphabets, numerals represents dictionary names, keys and values respectively

In [ ]:
'####'[a] # get all values under key 'a' in the dictionary

'####'[a] = '1' # create a new dictionary key 'a' with value '1' OR replace/change value of dictionary key 'a' as/to '1'

'####'.get(a) # get all values under key 'a' in the dictionary, NB: returns 'none if key doesn't exist