### Loading a data

In [ ]:
file_path = '####' # provide path the file/data, NB: all '\' must be changed to '/'

data = pd.read_csv(file_path,
                  index_col = col_name # column to be used as the dataframe index
                  ) # import a .csv file

### Basic functions

In [ ]:
type('####') # gives the type of the input/variable [int/float/bool]

In [ ]:
int('####') # convert an input/var to integer data type

float('####') # convert an input/var to float/decimal

str('####') # convert an input/var to strings/character

min(a,b,c,.....) # get the minimum value in the sequence/list/tuple

max(a,b,c,.....) # get the maximum value in the sequence/list/tuple

sum(a,b,c,.....) # sum all the value in the sequence/list/tuple

round(a,b) # round/approximate value 'a' to 'b' decimal places

a.round(b) # round/approximate value 'a' to 'b' decimal places

len('####') # gives length/number od element in a string, list, tuple or dictionary

list/tuple(range(start,stop,step)) # give a ranged list/tuple of numbers begining at 'start', [ends at 'stop'-1] with interval of 'step'
        # start = first number in the list, NB: if not provided, it is taken as 0
        # stop = last value -1, NB: must be provided
        # step = distance/interval between 2 consecutive values, NB: if not provided, it is taken as 1
        # start, stop, step must always be an integer type

np.arange(start,stop,step) # Generate an 'ARRAY' range of numbers begining at 'start', [ends at 'stop'-1] with interval of 'step'

In [ ]:
a % b # gives the remainder of a/b

a ** b # gives the result of a raised to th epower of b (a^b)

pow(a,b) # gives the result of a raised to th epower of b (a^b)

#### Indexing operations 
'####' represents name of string/list/tuple

In [ ]:
'####'[a] # extract the 'a'TH element from the string/list/tuple, NB: 'a' is an integer value 

'####'[-1] # extract last element of string/list/tuple

'####'[a] = b # replace element on string/list/tuple in position 'a' with element/value b, NB: a is the integer position/index

'####'.index(a) # returns the position 'a' is found in the string/list/tuple

#### List and slice operations
'####' represents name of list

In [ ]:
'####'.append(a) # add a single value/element 'a' to the end of a list

del '####'[a] # delete element/value on list in position 'a'

'####'.extend([a,b,....]) # add values/elements 'a,b,.....' to the end of a list

'####'[a:b] # select/slice element from position a to (b-1), NB: 'a' and 'b' are integer values

'####'[:a] # select/slice element from the first position to (a-1), NB: 'a' is an integer value

'####'[:a] # select/slice element from position a to the last position, NB: 'a' is an integer value

'####'.sort(reverse = True) # orders the element of a list alphabetically or numerically, NB: 'reverse=True' sorts from high to low

#### String operations

In [ ]:
'a,d,c,....'.split(',') # split the string where ',' is found and create a list/tuple with the element

#### Dictionary operations
'####', alphabets, numerals represents dictionary names, keys and values respectively

In [ ]:
'####'[a] # get all values under key 'a' in the dictionary

'####'[a] = '1' # create a new dictionary key 'a' with value '1' OR replace/change value of dictionary key 'a' as/to '1'

'####'.get(a) # get all values under key 'a' in the dictionary, NB: returns 'none if key doesn't exist

#### Dataframe transformation

In [ ]:
pd.options.display.max.rows = n # Display 'n' number of rows from an output

pd.set_option('display.float_format', lambda x: '%.2f' % x) # display all floats in 2 decimal places in dataframes
np.set_printoptions(formatter={'float': lambda x: "{0:0.2f}".format(x)}) # display all floats in 2 decimal places in arrayw

data.head(n) # see the first n rows of a dataframe

# Sort values by specified column
col_name = '####' # column to be sorted by
data.sort_values(by=[col_name])

data.isnull() # find missing values in a dataframe

data.isnull().sum() # find count of missing values for all columns in a dataframe

# get the 'a'th % percentile of a numeric column
col_name = '####' # column name
a = '####' # required percentile
data[col_name].quantile(a)

# get the natural log transformation of a column
col_name = '####' # column name
np.log(data[col_name])

# get the anti-log transformation of a column
col_name = '####' # column name
np.exp(data[col_name])

np.absolute(data) # get the absolute value of teh data

data.shape # check the dimensions of a dataframe

data.columns.values # return the column names of a dataframe in an array

new_data = init_data.copy() # duplicate/copy all content/structure from init_data to new_data

data[col_name] = data[col_name].map({old_val_1:new_val_1,........old_val_n:new_val_n0}) # manually map categorical values in a column to new values

# Create new dataframe (insert values by column)
col_name_1,.....col_name_n = '####',....'####' # define column names
val1,.....valn = ['####',.....'####'],......['####'.....'####'] # define values for each column names
new_dataframe = pd.DataFrame({col_name_1:val1,........col_name_n:valn})
# OR (insert values by rows)
col_1_val,.....col_n_val = '####',....'####' # value for column n
col_1_name,....col_nname = '####',....'####' # names of columns
new_dataframe = pd.DataFrame(data = [[col_1_val,....col_n_val]], columns = [col_1_name,....col_n_name])

# Rename Dataframe Index
dataframe.rename(index={old_val_1:new_val_1,....old_val_n:new_val_n})

# Join dataframes together (add by column with same row counts)
dataframe1 = '####'
dataframe2 = '####'
joined_dataframe = dataframe1.join(dataframe2)

# Add new column to a dataframe
new_col_name = '####' # name of new column
col_values = '####' # values in new column
data[new_col_name] = col_values

# drop rows with missing values
new_data = data.dropna(axis = 0 # axis = 1 (represent column), axis = 0 (represent row)
                      )

# Drop column(s)
col_name_1,.....col_name_n = '####',....'####' # columns to be dropped
new_dataframe = dataframe.drop([col_name_1,....col_name_n],
                              axis = 1 
                              )

# Create dummy columns for all categorical variables in a dataframe
data = '####' # dataframe with categorical variables
pd.get_dummies(data,
               drop_first=True # do not create a dummy column for first value in a categorical column
              )

###### Dataframe Slice

In [ ]:
data.iloc[a:b,c:d] # select all data between row_number 'a' to 'b-1' and column_number 'c' to 'd-1' NB: a,b,c,d are all integers

#### Split Train Test

In [ ]:
# Import Libraries
import numpy as np
from sklearn.model_selection import train_test_split

# It is important that the data supplied are in array format
dataframe_array_1,.....dataframe_array_n = '####',......'####' # dataframe in an array format
train_test_split(dataframe_array_1,.....dataframe_array_n, # split array into test and train sets
                test_size = '####' # proportion size of 'test set' to total dataset, NB: 0 <= test_size <= 1
                 shuffle = True # shuffle the data array before split
                 random_state = '####' # set to get exactly the same shuffle split each time it occurs, NB: it is an integer
                )
# Default split is 75:25 (train to test set)